* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    font-weight: bold;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 1px solid transparent;
}

#workspaces button.focused,
#workspaces button.active {
    border-top: 1px solid;
}
