@define-color surface #0f1416;
@define-color primary #85d2e7;
@define-color on_secondary #1d343a;
@define-color secondary #b2cbd3;
@define-color error #ffb4ab;

* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font Mono";
    font-weight: 600;
    font-size: 14px;
    min-height: 0;
    border-radius: 50px;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @surface;
    border: 1px solid rgba(100, 114, 125, 0.5);
    border-radius: 5px;
}

tooltip label {
    color: white;
}

.modules-left {
    margin-left: 5px;
}

.modules-right {
    margin-right: 5px;
}

#custom-launcher,
#clock,
#workspaces,
#custom-media,
#custom-pacman,
#custom-weather,
#pulseaudio,
#battery,
#network,
#power-profiles-daemon {
    margin-right: 10px;
    padding: 0 10px;
    background-color: @surface;
    color: @primary;
}

#custom-notification {
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
    background-color: @surface;
    color: @primary;
}

#power-profiles-daemon {
    margin: 0;
}

#workspaces {
    margin: 0;
    padding: 0px 5px;
    border-radius: 50px;
    background-color: @surface;
    color: @primary;
}

#workspaces button {
    margin: 3px;
    padding: 0;
    min-width: 16px;
    min-height: 16px;
    border-radius: 50px;
    color: transparent;
    transition: all 0.3s ease-in-out;
    background-color: @on_secondary;
}

#workspaces button.active {
    background-color: @primary;
    color: @surface;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background-color: @secondary;
    color: @surface;
}

#workspaces button.urgent {
    background-color: @error;
    color: @surface;
    transition: all 0.3s ease-in-out;
}
